body {
    height: 100%;
    padding-top: 45px;
}

.quote .metadata {
    margin-top: -10px;
    margin-left: 0px;
}

.quote .metadata li {
    float: left;
    display: block;
    margin-right: 15px;
}
.quote .metadata li.nomargin {
    margin: 0;
}

.quote .metadata li.date_submitted {
    float: right;
}

.quote .content {
    font-size: 13px;
    margin-top: 20px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

form.create_new_quote textarea {
    width: 882px;
}
