html {
    overflow-y: scroll;
}
body {
    height: 100%;
    padding-top: 45px;
}
@font-face { 
    font-family: 'WebSymbolsRegular';
    src: url('/fonts/websymbols-regular-webfont.eot');
    src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
.side_text {
    color: #333;
    opacity: 0.3;
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    white-space:nowrap;
    display: block;
    bottom: 0;
    width: 0px;
    height: 0px;
    margin-left: 80px;
    font-size: 96px;
    font-weight: bold;
}
.well {
    padding: 10px 18px 18px 18px !important;
}
.pagination {
    border-left: 1px solid #DDD;
    width: 390px;
    margin: 6px auto 12px auto !important;
}
.pagination .bootstrap_style {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.quote .votes {
    float: left;
    display: block;
    margin-left: -9px;
    margin-top: 15px;
}
.votes .vote {
    width: 15px;
    margin-top: 2px;
    font-family: 'WebSymbolsRegular';
    font-size: 14px;
    color: #ddd;
    cursor: default;
}
.votes .vote.logged_in {
    color: #000;
    cursor: pointer;
}
.votes .vote.voted {
    color: green !important;
}
.votes .vote.error {
    color: red !important;
}
.votes .score {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #C6C6C6;
    margin: 1px 0px -2px -3px;
}

.quote .metadata {
    margin-top: -10px;
    margin-left: 12px;
}

.quote .metadata li {
    float: left;
    display: block;
    margin-right: 15px;
}
.quote .metadata li.nomargin {
    margin: 0;
}

.quote .metadata li.top_right {
    float: right;
}

.quote .content {
    margin-top: 30px;
    margin-left: 15px;
    min-height: 36px;

    display: block;
    padding: 8.5px;
    margin: 30px 0 9px 12px;
    background-color: whiteSmoke;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.quote .content pre {
    font-size: 13px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: normal;

    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}
.quote .content hr {
    margin: 15px 0px 5px 0px;
}

.extra_info.tags {
    margin-left: 12px;
}
.tags span {
    margin-right: 5px;
}
.tags.cloud span {
    line-height: 30px;
    vertical-align: middle;
}
.tags a {
    text-decoration: none !important;
}

form.create_new_quote textarea {
    width: 882px;
}
